@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: auto;
    background-color: #17171F;
    overflow-x: hidden;
}
.links{
    text-decoration: none;
}
/* nav bar */
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    border-bottom: 1px solid transparent;
}
#line-container{
    width: 100vw;
    overflow-x: hidden;
}
#line{
    background-image: linear-gradient(to right, rgba(38, 38,63, 100), rgba(103, 103, 209, 100));
    height: 1px;
    width: 100%;
    animation-name: nav-bottom-border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes nav-bottom-border {
    0% {
        opacity: 0;
        width: 0%;
    }
    50% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
#logo{
    color: #FFFFFF;
    font-weight: 800;
}
#nav-buttons{
    display: flex;
    column-gap: 30px;
    font-weight: 400;
    cursor: pointer;
}
#nav-buttons a{
    text-decoration: none;
    color: #4E4E69;
}
#about{
    color: #FFFFFF;
    font-weight: 500;
}
#projects:hover, #ui-designs:hover{
    color: #FFFFFF;
    font-weight: 500;
}
/* header */
.header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nova Round', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fusing, #ignite, #unlock{
    font-family: 'Nova Script', sans-serif;
}
#fusing{
    color: #52FD6D;
    text-shadow: 0 0 40px #52FD6D;

}
#ignite{
    color: #FF9315;
    text-shadow: 0 0 40px #FF9315;
}
#unlock{
    color: #B592FF;
    text-shadow: 0 0 40px #B592FF;
}
#unlock-text-container{
    width: fit-content;
    background-color: #232341;
    border: 1px solid #B592FF;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 10px;
}
/* about */
#about-container{
    height: 100px;
    margin-left: 20px;
}
#greetings-container{
    display: flex;
    align-items: center;
    width: fit-content;
    position: absolute;
    top: 371px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: white;
    border: 1px solid #FF5C00;
}
#gap-size{
    position: absolute;
    top: 373px;
    left: 150px;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    background-color: #FF5C00;
    font-family: 'Manrope', sans-serif;
    font-size: 6px;
    color: white;
}
#line2{
    position: absolute;
    top: 386px;
    left: 100px;
    border: 0.5px dashed #FF5C00;
    width: 60px;
}
#line3{
    position: absolute;
    top: 385px;
    left: 150px;
    border: 0.5px dashed #FF5C00;
    height: 20px;
    width: 1px;
}
#text-container{
    width: fit-content;
    position: absolute;
    top: 405px;
    padding: 2px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    border: 0.5px solid #0094FF;
    overflow: hidden;
}
#box1, #box2, #box3, #box4{
    height: 4px;
    width: 4px;
    background-color: white;
}
#box1{
    position: absolute;
    left: 18px;
    top: 403px;
}
#box2{
    position: absolute;
    left: 18px;
    top: 450px;
}
#box3{
    position: absolute;
    left: 258px;
    top: 403px;
}
#box4{
    position: absolute;
    left: 258px;
    top: 450px;
}
/* skills */
#skills-container{
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#skills-text{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10px;
    margin-bottom: 10px;
}
#skills-icons-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.icons{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: auto;
    align-items: center;
    text-wrap: nowrap;
    margin-bottom: 0px;
}
.icons img{
    width: 30px;
    transition: 0.1s;
    border-radius: 2px;
}
.icons-text{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10px;
    visibility: hidden;
}
.icons:hover img{
    transform: scale(1.5);
    box-shadow: 0 0 100px #0094FF;
}
.icons:hover .icons-text{
    visibility: visible;
    transform: scale(1.2);
}
.icons:hover{
    margin-bottom: 10px;
    row-gap: 10px;
}
/* projects, ui-designs, hobby */
#projects-container, #ui-designs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 315px;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #272940;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10px;
    overflow: hidden;
}
#action-buttons-container{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}
.action-buttons{
    width: 6px;
    height: 6px;
    border-radius: 50px;
}
#action-btn1{
    background-color: #D84141;
}
#action-btn2{
    background-color: #D8AE41;
}
#action-btn3{
    background-color: #33BA49;
}
/*Footer*/
footer{
    height: auto;
    background-color: rgb(17, 18, 28);
}
.footer-container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10px;
}
.footer-container-column{
    display: flex;
    flex-direction: column;
}
.footer-text-1, #footer-h1{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-text-1, #footer-pg{
    color: whitesmoke;
    margin-bottom: 20px;
}
.footer-text-2{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.footer-text-2 p{
    color: whitesmoke;
    padding: 8px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
}
.footer-text-2 p:hover{
    background-color: whitesmoke;
    color: black;
}
/* footer image */
#footer-image{
    display: none;
    height: 100px;
}
/* version and socials */
.footer-text-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
#version-text1, #socials-text1{
    color: rgb(127, 127, 127);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 8px;
}
.socials-row1{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
#version-number, #facebook, #linkedin{
    color: whitesmoke;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 10px;
}




/*Desktop*/
@media only screen and (width >= 431px){
    #nav-bar {
        width: 100%;
        font-size: 14px;
    }
    /* title */
    .header{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Nova Round', sans-serif;
        font-size: 42px;
        color: #FFFFFF;
        text-align: center;
    }
    .title-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }
    #unlock-text-container{
        background-color: #232341;
        border: 1px solid #B592FF;
        padding-left: 5px;
        padding-right: 15px;
        border-radius: 10px;
    }
    /* about */
    #about-container{
        height: 135px;
        margin-left: 100px;
    }
    #greetings-container{
        display: flex;
        width: fit-content;
        position: absolute;
        top: 871px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: white;
        border: 1px solid #FF5C00;
    }
    #gap-size{
        position: absolute;
        top: 870px;
        left: 355px;
        width: fit-content;
        padding: 5px;
        border-radius: 5px;
        background-color: #FF5C00;
        font-family: 'Manrope', sans-serif;
        font-size: 10px;
        color: white;
    }
    #line2{
        position: absolute;
        top: 894px;
        left: 225px;
        border: 0.5px dashed #FF5C00;
        width: 130px;
    }
    #line3{
        position: absolute;
        top: 895px;
        left: 354px;
        border: 0.5px dashed #FF5C00;
        height: 20px;
        width: 1px;
    }
    #text-container{
        width: fit-content;
        position: absolute;
        top: 915px;
        padding: 2px;
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: white;
        border: 0.5px solid #0094FF;
        overflow: hidden;
    }
    #box1, #box2, #box3, #box4{
        height: 6px;
        width: 6px;
        background-color: white;
    }
    #box1{
        position: absolute;
        left: 98px;
        top: 912px;
    }
    #box2{
        position: absolute;
        left: 572px;
        top: 912px;
    }
    #box3{
        position: absolute;
        left: 98px;
        top: 999px;
    }
    #box4{
        position: absolute;
        left: 572px;
        top: 999px;
    }
    /*skills*/
    #skills-container{
        height: auto;
        margin-left: 100px;
        margin-right: 100px;
    }
    #skills-text{
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
    #skills-icons-container{
        display: flex;
        column-gap: 10px;
    }
    .icons{
        display: flex;
        flex-direction: column;
        width: 50px;
        height: auto;
        align-items: center;
        row-gap: 5px;
        text-wrap: nowrap;
    }
    .icons img{
        width: 50px;
        transition: 0.1s;
        border-radius: 5px;
    }
    .icons-text{
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 12px;
        visibility: hidden;
        margin-top: 15px;
    }
    .icons:hover img{
        transform: scale(1.5);
        box-shadow: 0 0 100px #0094FF;
    }
    .icons:hover .icons-text{
        visibility: visible;
        transform: scale(1.2);
        margin-top: 15px;
    }
    /*projects, ui-designs*/
    #projects-container, #ui-designs-container{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        min-width: 315px;
        padding: 10px;
        margin: 20px 80px 50px 80px;
        border: 1px solid #272940;
        border-radius: 10px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 14px;
        overflow: hidden;
    }
    #action-buttons-container{
        display: flex;
        flex-direction: row;
        column-gap: 8px;
    }
    .action-buttons{
        width: 12px;
        height: 12px;
        border-radius: 50px;
    }
    #action-btn1{
        background-color: #D84141;
    }
    #action-btn2{
        background-color: #D8AE41;
    }
    #action-btn3{
        background-color: #33BA49;
    }
    /*Footer*/
    footer{
        height: auto;
        background-color: rgb(17, 18, 28);
    }
    .footer-container-row{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 60px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 14px;
    }
    .footer-container-column{
        display: flex;
        flex-direction: column;
    }
    .footer-text-1, #footer-h1{
        color: whitesmoke;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .footer-text-1, #footer-pg{
        color: whitesmoke;
        margin-bottom: 50px;
    }
    .footer-text-2{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
    .footer-text-2 p{
        color: whitesmoke;
        padding: 20px;
        border: 1px solid whitesmoke;
        border-radius: 100px;
    }
    .footer-text-2 p:hover{
        background-color: whitesmoke;
        color: black;
    }
    /* version and socials */
    .footer-text-3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }
    #version-text1, #socials-text1{
        color: rgb(127, 127, 127);
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 10px;
    }
    .socials-row1{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
    }
    #version-number, #facebook, #linkedin{
        color: whitesmoke;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 12px;
    }
    /* footer image */
    #footer-image{
        display: block;
        height: 200px;
        align-self: center;
    }
    
}