@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    font-size: 14px;
}
body{
    background-color: #17171F;
    
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid red;
    border-image: linear-gradient(to right, rgba(38, 38,63, 0), rgba(103, 103, 209, 100)) 1;
}
#logo{
    color: #FFFFFF;
    font-weight: 900;
}
#nav-buttons{
    display: flex;
    column-gap: 30px;
    font-weight: 400;
    color: #4E4E69;
    cursor: pointer;
}
#about:hover, #projects:hover, #ui-designs:hover, #hobby:hover{
    color: #FFFFFF;
    font-weight: 500;
}