@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px solid #272940;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
    margin: 10px;
}
.card-image-container{
    display: flex;
    justify-content: center;
    width: 250px;
    height: auto;
    border-radius: 5px;
    background-color: #232332;
    overflow: hidden;
    padding: 10px;

}
.card-image-container:hover{
    overflow: visible;
}
.card-image-container img{
    height: 180px;
    width: auto;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.card-image-container:hover img{
    height: 500px;  
}
.card-text-container{
    height: 100px;
}
.card-title{
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 10px 0 5px 0;
}
.card-description{
    font-size: 12px;
    font-weight: 400;
    color: #777ba7;
}

/*Projects*/
.project-card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid #272940;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 10px;
}
.project-image-container{
    display: flex;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    background-color: #232332;
}
.project-image-container img{
    width: 430px;
    border-radius: 5px;
    transition: 1s;
}
.project-image-container:hover img{
    transform: scale(1.2);
}
